<!-- <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles.css">
    <title>CHMS</title>
</head>
<body>
    <nav>
        <div class="left">CHMS</div>
        <div class="right"><a href="/doctor-login">Login</a></div>
        <div class="right"><a href="/patient-login">Login</a></div>
    </nav>
    <div class="content">
        <button onclick="window.location.href='/doctor-register'">Doctor Register</button>
        <button onclick="window.location.href='/patient-register'">Patient Register</button>
    </div>
</body>
</html> -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles.css">
    <title>CHMS</title>
</head>
<body>
    <nav>
        <div class="left">CHMS</div>
        <div class="right">
            <% if (!isDoctor && !isPatient) { %>
                <a href="/doctor-login">Doctor Login</a>
                <a href="/patient-login">Patient Login</a>
            <% } %>
            <% if (isDoctor || isPatient) { %>
                <a href="/logout">Logout</a>
            <% } %>
        </div>
    </nav>
    <div class="content">
        <button onclick="window.location.href='/doctor-register'">Doctor Register</button>
        <button onclick="window.location.href='/patient-register'">Patient Register</button>
    </div>
</body>
</html>
